.vendors {
  font-family: 'abel', sans-serif;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 12rem;
  padding: 4rem 10rem;
}

.partners_title,
.partners_subtitle {
  text-align: center;
}

.partners_title {
  font-size: 4.8rem;
  font-weight: 600;
  line-height: 1;
}

.partners_subtitle {
  font-weight: 500;
  margin-bottom: 2rem;
  font-size: 3.2rem;
}

.partners_logo_box,
.vendors_logo_box {
  display: flex;
  justify-content: center;
  gap: 3rem;
  margin-top: 1rem;
}

.lausd,
.garden_grove,
.ucr {
  display: flex;
  align-items: center;
  height: 20rem;
  width: 20rem;
}

.partners_logo_box img {
  max-width: 100%;
}

.lausd_img,
.garden_grove_img {
  border-radius: 50%;
}

.vendors_logo_box {
  margin: 1rem 10rem;
}
