.feature_box {
  padding-top: 6rem;
}

.feature_items {
  margin-top: 5rem;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  column-gap: 4rem;
  row-gap: 2rem;
}

.feature_item {
  display: flex;
  flex-direction: column;
  transition: all 0.4s;
}

.feature_icon {
  width: 20%;
  border-radius: 50%;
  box-shadow: -2px 1px 4px rgba(255, 255, 255, 0.4);
}

.feature_icon img {
  max-width: 100%;
}

.feature_title {
  font-weight: 500;
  font-size: 2.6rem;
  margin: 1rem 0;
  color: #00fbff;
}

.feature_description {
  font-size: 1.8rem;
  line-height: 1.5;
  color: #fff;
}
