.select_bg_section,
.virtual_keyboard_section {
  padding: 10rem 20rem 15rem;
  display: grid;

  gap: 10rem;
  align-items: center;
  justify-items: center;
}

.select_bg_section {
  grid-template-columns: 3fr 2fr;
}

.select_bg_title,
.virtual_keyboard_title {
  font-size: 4.8rem;
  font-weight: 500;
  text-align: center;
  line-height: 1.1;
  margin-bottom: 3rem;
  color: #1867a0;
}

.select_bg_description,
.virtual_keyboard_description {
  font-size: 2.4rem;
}

.virtual_keyboard_section {
  grid-template-columns: 2fr 3fr;
}

.virtual_keyboard_image_div {
  border-radius: 0.6rem;
  overflow: hidden;
  box-shadow: 0 0 6px 1px rgba(0, 0, 0, 0.6);
}

.virtual_keyboard_image_div img {
  max-width: 100%;
}
