.select_bg_section {
  padding: 10rem 20rem 15rem;
  display: grid;
  grid-template-columns: 3fr 2fr;
  gap: 10rem;
  align-items: center;
}

.select_bg_title {
  font-size: 4.8rem;
  font-weight: 500;
  text-align: center;
  line-height: 1.1;
  margin-bottom: 2rem;
  color: #1867a0;
}

.select_bg_description {
  font-size: 2.6rem;
}
