.ctb_sizes_box,
.ctb_settings_box {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 10rem;
}

.ctb_sizes_title,
.ctb_settings_title {
  font-weight: 600;
  font-size: 2.6rem;
  text-transform: uppercase;
  margin-bottom: 2rem;
}

.ctb_sizes_image_box img {
  max-width: 100%;
}

.ctb_settings_image_box img {
  max-width: 100%;
}
