.wall_systems {
  padding: 15rem;
  min-height: 90vh;
  font-family: 'Montserrat', sans-serif;
}

.systems_row {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 5rem;
}

.systems_card {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.systems_card img {
  transform: scale(0.95);
  transition: all 0.4s;
}

.systems_card img:hover {
  transform: scale(1);
}
