/* .customize_boards_box {
  display: grid;
  gap: 2rem;
}

.customize_box_2 {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1.25fr 1fr 1fr 2fr;
}

.customize_box_2 > div {
  margin-bottom: 10rem;
} */
