.chalkboard_section {
  min-height: 100vh;
  padding-top: 15rem;
}

.board_box {
  display: grid;
  margin: 2rem 8rem;
  padding: 2rem;
  grid-template-columns: 3fr 2fr;
}

.board_image_box img {
  width: 100%;
  height: 100%;
}

.board_description_box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 4rem;
}

.description_title {
  margin-bottom: 2rem;
  font-size: 5rem;
}
.description_paragraph {
  font-size: 2.6rem;
}
