/* Panels Section */
.panel_box {
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 6rem;
  margin-bottom: 10rem;
}

.sliding_marker_title,
.panel_configuration_title {
  text-align: center;
  font-weight: 600;
  font-size: 2.6rem;
}

.sliding_marker_subtitle {
  text-align: center;
  font-weight: 400;
  font-size: 2.2rem;
}

.panel_configuration_box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 4rem;
}

.panel_configuration_box img {
  max-width: 100%;
}
