.section_markerboard {
  min-height: 100vh;
  padding: 14rem 12rem;
  font-family: 'Montserrat', sans-serif;
}

.markerboard_box {
  width: 100%;
  /* background-color: blue; */

  display: grid;
  grid-template-columns: 3fr 2fr;
  gap: 2rem;
  /* border-radius: 0.6rem; */
  /* overflow: hidden; */
  /* box-shadow: 0 0 0.6rem rgba(0, 0, 0, 0.4); */
}

.markerboard_image_box {
  height: 100%;
  width: 100%;
}

.markerboard_image_box img {
  min-width: 100%;
  border-radius: 0.6rem;
}

/* .markerboard_carousel {
  height: 100%;
  width: 100%;
} */

.markerboard_body_box {
  /* background-image: linear-gradient(
    to bottom,
    #d2d4d7,
    #ccced1,
    #c6c8cb,
    #c0c3c5,
    #babdbf
  ); */

  display: flex;
  flex-direction: column;
  padding: 4rem;
  border-radius: 0.6rem;
  box-shadow: 0 0 0.6rem rgba(0, 0, 0, 0.4);
}

.markerboard_body_title {
  /* background-image: linear-gradient(
    to bottom,
    #d2d4d7,
    #ccced1,
    #c6c8cb,
    #c0c3c5,
    #babdbf
  ); */

  color: #1282a2;
  font-size: 3.6rem;
  font-weight: 600;
  margin-bottom: 2rem;
  text-transform: uppercase;
}

.markerboard_body_description {
  font-size: 2rem;
  line-height: 1.2;
}

.markerboard_body_description li {
  margin-top: 1rem;
}

/* Product Information */
.product_specifications {
  margin-top: 15rem;
  padding: 0 16rem;
  border-top: 2px solid #eee;
}

.product_specifications_title {
  margin-top: 3rem;
  margin-bottom: 8rem;
  font-size: 2.8rem;
  font-weight: 600;
  text-transform: uppercase;
  text-align: center;
  color: #1282a2;
}

.markerboard_sizes_box {
  margin: 2rem 0 10rem;
}

.markerboard_sizes_title {
  margin-bottom: 2rem;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 2.2rem;
  text-align: center;
}

.markerboard_sizes_list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(4, 1fr);
  gap: 2rem;
  padding: 0;
  list-style: none;
}

.markerboard_sizes_list li {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid black;
  padding: 1rem 2rem;
  font-size: 1.8rem;
  text-align: center;
}

.markerboard_sizes_list li:last-child {
  /* padding: 1rem 2rem; */
  font-size: 2rem;
  font-weight: 500;
  text-transform: uppercase;
  color: #034078;
}

.customize_boards_box {
  display: grid;
  /* grid-template-rows: 1fr 1fr; */
  gap: 2rem;
}

.customize_box_1 {
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 2rem;
  margin-bottom: 10rem;
}

.customize_options_title {
  text-align: center;
  font-weight: 600;
  font-size: 2.2rem;
  text-transform: uppercase;
}

.customize_images {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
  padding: 2rem;
}

.customize_images img,
.customize_porcelain_image img,
.combination_boards img {
  max-width: 100%;
}

.customize_images > div div,
.customize_accessories_image > div,
.customize_porcelain_image > div {
  text-align: center;
  text-transform: uppercase;
  font-size: 1.6rem;
  font-weight: 500;
  color: rgb(76, 76, 76);
}

.customize_box_2 {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1.5fr 1fr 1fr 2fr;
}

.customize_box_2 > div {
  margin-bottom: 10rem;
}

.customize_accessories_options,
.customize_porcelain_options {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 6rem;
  padding: 2rem 6rem;
}

.customize_accessories_options > div {
  height: 22rem;
}

.customize_accessories_image,
.customize_porcelain_image {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.customize_accessories_options img {
  max-height: 100%;
}

/* Combination Boards */
.combination_boards {
  position: relative;
}

.akronym_info {
  display: flex;
  justify-content: flex-end;
  margin-right: 4rem;
  font-size: 1.4rem;
}

.akronym_info ul {
  list-style: none;
}
