.about_section {
  padding: 18rem 15rem;
  background: linear-gradient(
    170deg,
    rgba(247, 241, 241, 1) 0%,
    rgba(208, 240, 241, 1) 75%,
    rgba(208, 247, 255, 1) 100%
  );
  font-family: 'Montserrat', sans-serif;
}

.mission_box {
  display: grid;
  grid-template-columns: 1.5fr 1fr;
  column-gap: 5rem;
}

.mission_image {
  display: flex;
  justify-content: center;
  align-items: center;
}

.mission_image img {
  border-radius: 50%;
  box-shadow: 0 2px 4px 2px rgba(0, 0, 0, 0.8);
  max-width: 100%;
}

.mission_body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.mission_header {
  font-weight: 500;
  font-size: 2.6rem;
  line-height: 1.2;
  margin-bottom: 2rem;
}

.environment_tag {
  color: #82cd47;
}

.mission_subheader {
  font-size: 2.2rem;
  font-weight: 500;
}

/* projects */
.projects_box,
.projects_body {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.projects_body {
  margin-top: 15rem;
  padding: 5rem 8rem;
}

.projects_title {
  font-weight: 600;
  font-size: 4.2rem;
  margin-bottom: 2rem;
  text-transform: uppercase;
}

.projects_gallery {
  display: flex;
  flex-wrap: wrap;
  column-gap: 2rem;
  row-gap: 8rem;
}

.projects_gallery_item {
  flex: 1 1 24%;
  text-align: center;
}

.gallery_image {
  height: 30rem;
  box-shadow: 0 0 4px 1px rgba(0, 0, 0, 0.8);
  overflow: hidden;
}

.gallery_image img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  transition: all 0.4s;
}

.gallery_image img:hover {
  transform: scale(1.1);
}

.item_title {
  margin-top: 2rem;
  font-size: 2.2rem;
  font-weight: 600;
}

.item_location {
  font-size: 1.8rem;
  font-weight: 500;
}
