.about_section {
  padding: 13rem 15rem;
  background: linear-gradient(
    170deg,
    rgba(247, 241, 241, 1) 0%,
    rgba(208, 240, 241, 1) 75%,
    rgba(208, 247, 255, 1) 100%
  );
}

.mission_box {
  display: grid;
  grid-template-columns: 1.5fr 1fr;
  column-gap: 5rem;
}

.mission_image {
  display: flex;
  justify-content: center;
}

.mission_image img {
  max-width: 100%;
}

.mission_body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.mission_header {
  font-weight: 500;
  font-size: 2.6rem;
  line-height: 1.2;
  margin-bottom: 2rem;
}

.environment_tag {
  color: #82cd47;
}

.mission_subheader {
  font-size: 2.2rem;
}

/* History */

.history_box {
  margin-top: 15rem;
  padding-top: 5rem;
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 0.4rem;
  box-shadow: 0 0 4px 2px rgba(0, 0, 0, 0.4);
}

.history_box,
.history_body {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.history_img {
  border-radius: 50%;
  box-shadow: 0 2px 4px 2px rgba(0, 0, 0, 0.8);
  overflow: hidden;
  margin-bottom: 2rem;
}

.history_img img {
  max-width: 100%;
}

.history_body {
  padding: 5rem 8rem;
}

.history_title {
  font-weight: 500;
  font-size: 3.2rem;
  margin-bottom: 2rem;
}

.history_description {
  font-size: 2.2rem;
  line-height: 1.7;
}
