.section_escribano {
  min-height: 100vh;
  padding-top: 13rem;
  padding-bottom: 20rem;
  background-color: #f0f0f0;
  font-family: 'Montserrat', sans-serif;
}

.header_box {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header_title {
  text-transform: uppercase;
  font-size: 7.6rem;
  font-weight: 600;

  background: -webkit-linear-gradient(left, #0096ff, #00d7ff);
  background: -o-linear-gradient(right, #0096ff, #00d7ff);
  background: -moz-linear-gradient(right, #0096ff, #00d7ff);
  background: linear-gradient(to right, #0096ff, #00d7ff);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.header_subtitle {
  font-size: 3.2rem;
  padding: 0 10rem;
  text-align: center;
}

.player_wrapper {
  position: relative;
  padding-top: 56.25%; /* 720 / 1280 = 0.5625 */

  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.com/svgjs' width='1440' height='560' preserveAspectRatio='none' viewBox='0 0 1440 560'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1089%26quot%3b)' fill='none'%3e%3crect width='1440' height='560' x='0' y='0' fill='rgba(240%2c 240%2c 240%2c 1)'%3e%3c/rect%3e%3cpath d='M -204.74390260985126%2c369 C -147.14%2c342.4 -31.94%2c232.2 83.25609739014875%2c236 C 198.46%2c239.8 256.06%2c408 371.25609739014874%2c388 C 486.46%2c368 544.06%2c127 659.2560973901487%2c136 C 774.46%2c145 832.06%2c437.6 947.2560973901487%2c433 C 1062.46%2c428.4 1120.06%2c137 1235.2560973901489%2c113 C 1350.46%2c89 1482.31%2c299.8 1523.2560973901489%2c313 C 1564.2%2c326.2 1456.65%2c205.8 1440%2c179' stroke='rgba(10%2c 17%2c 99%2c 0.67)' stroke-width='2'%3e%3c/path%3e%3cpath d='M -172.11083877806078%2c283 C -114.51%2c246 0.69%2c83 115.88916122193922%2c98 C 231.09%2c113 288.69%2c323.8 403.8891612219392%2c358 C 519.09%2c392.2 576.69%2c257.8 691.8891612219393%2c269 C 807.09%2c280.2 864.69%2c433.2 979.8891612219393%2c414 C 1095.09%2c394.8 1152.69%2c187 1267.8891612219393%2c173 C 1383.09%2c159 1521.47%2c345.8 1555.8891612219393%2c344 C 1590.31%2c342.2 1463.18%2c200 1440%2c164' stroke='rgba(10%2c 17%2c 99%2c 0.67)' stroke-width='2'%3e%3c/path%3e%3cpath d='M -468.6027131698403%2c174 C -411%2c214.4 -295.8%2c357 -180.6027131698403%2c376 C -65.4%2c395 -7.8%2c270.6 107.39728683015969%2c269 C 222.6%2c267.4 280.2%2c377.6 395.3972868301597%2c368 C 510.6%2c358.4 568.2%2c206.2 683.3972868301597%2c221 C 798.6%2c235.8 856.2%2c448.2 971.3972868301597%2c442 C 1086.6%2c435.8 1165.68%2c210 1259.3972868301596%2c190 C 1353.12%2c170 1403.88%2c311.6 1440%2c342' stroke='rgba(10%2c 17%2c 99%2c 0.67)' stroke-width='2'%3e%3c/path%3e%3cpath d='M -436.93955153217354%2c350 C -379.34%2c310 -264.14%2c126.8 -148.93955153217354%2c150 C -33.74%2c173.2 23.86%2c441.2 139.06044846782646%2c466 C 254.26%2c490.8 311.86%2c282.4 427.06044846782646%2c274 C 542.26%2c265.6 599.86%2c431.4 715.0604484678265%2c424 C 830.26%2c416.6 887.86%2c244 1003.0604484678265%2c237 C 1118.26%2c230 1203.67%2c384.2 1291.0604484678265%2c389 C 1378.45%2c393.8 1410.21%2c286.6 1440%2c261' stroke='rgba(10%2c 17%2c 99%2c 0.67)' stroke-width='2'%3e%3c/path%3e%3cpath d='M -48.766166059986006%2c159 C 8.83%2c213.4 124.03%2c422 239.233833940014%2c431 C 354.43%2c440 412.03%2c230.4 527.2338339400139%2c204 C 642.43%2c177.6 700.03%2c311.6 815.2338339400139%2c299 C 930.43%2c286.4 988.03%2c113.6 1103.233833940014%2c141 C 1218.43%2c168.4 1276.03%2c445.8 1391.233833940014%2c436 C 1506.43%2c426.2 1669.48%2c87.8 1679.233833940014%2c92 C 1688.99%2c96.2 1487.85%2c384 1440%2c457' stroke='rgba(10%2c 17%2c 99%2c 0.67)' stroke-width='2'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1089'%3e%3crect width='1440' height='560' fill='white'%3e%3c/rect%3e%3c/mask%3e%3c/defs%3e%3c/svg%3e");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.react_player {
  position: absolute;
  top: 35%;
  left: 50%;
  transform: translate(-50%, -50%);
  /* height: 95% !important;
  width: 95% !important; */
  box-shadow: 0px 0px 8px 1px rgba(0, 0, 0, 0.4);
}

.feature_box {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 4rem;
  margin-top: 1rem;
  margin-bottom: 20rem;
}

.feature_box,
.butterfly_menu_box {
  padding: 0 20rem;
}

.feature_item {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem 3rem;
  background-color: white;
  border-radius: 0.6rem;
  box-shadow: 0px 3px 4px 2px rgba(0, 0, 0, 0.4);

  transition: all 0.4s;
}

.feature_item:hover {
  transform: translateY(-10px);
}

.feature_icon img {
  transform: scale(0.9);
  max-width: 100%;
}

.feature_title {
  font-weight: 500;
  font-size: 2.6rem;
  margin-bottom: 1rem;
}

.feature_description {
  font-size: 1.8rem;
  line-height: 1.5;
}

.feature_description b {
  color: #025fa1;
}

/* Butterfly */
.butterfly_menu_box {
  display: grid;
  grid-template-columns: 2fr 3fr;
  justify-content: center;
  align-items: center;
}
