.section_escribano {
  min-height: 100vh;
  padding-top: 13rem;
  padding-bottom: 20rem;
  background-color: #f8f8f8;
  font-family: 'Montserrat', sans-serif;
}

.header_box {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header_title {
  text-transform: uppercase;
  font-size: 7.6rem;
  font-weight: 600;

  background: -webkit-linear-gradient(left, #0096ff, #00d7ff);
  background: -o-linear-gradient(right, #0096ff, #00d7ff);
  background: -moz-linear-gradient(right, #0096ff, #00d7ff);
  background: linear-gradient(to right, #0096ff, #00d7ff);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.header_subtitle {
  font-size: 3.2rem;
  padding: 0 10rem;
  text-align: center;
}

.player_wrapper {
  position: relative;
  padding-top: 56.25%; /* 720 / 1280 = 0.5625 */

  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.com/svgjs' width='1440' height='560' preserveAspectRatio='none' viewBox='0 0 1440 560'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1076%26quot%3b)' fill='none'%3e%3cpath d='M -668.8929733775565%2c395 C -572.89%2c361.4 -380.89%2c231.2 -188.89297337755642%2c227 C 3.11%2c222.8 99.11%2c371.6 291.1070266224436%2c374 C 483.11%2c376.4 579.11%2c239.8 771.1070266224435%2c239 C 963.11%2c238.2 1117.33%2c365.4 1251.1070266224435%2c370 C 1384.89%2c374.6 1402.22%2c283.6 1440%2c262' stroke='rgba(30%2c 80%2c 131%2c 1)' stroke-width='2'%3e%3c/path%3e%3cpath d='M -131.88265816191938%2c252 C -35.88%2c303.2 156.12%2c549.2 348.1173418380806%2c508 C 540.12%2c466.8 636.12%2c42 828.1173418380806%2c46 C 1020.12%2c50 1116.12%2c520.2 1308.1173418380806%2c528 C 1500.12%2c535.8 1761.74%2c88.8 1788.1173418380806%2c85 C 1814.49%2c81.2 1509.62%2c424.2 1440%2c509' stroke='rgba(0%2c 215%2c 255%2c 1)' stroke-width='2'%3e%3c/path%3e%3cpath d='M -775.2207038313859%2c436 C -679.22%2c356.2 -487.22%2c55.2 -295.22070383138595%2c37 C -103.22%2c18.8 -7.22%2c334.8 184.77929616861405%2c345 C 376.78%2c355.2 472.78%2c66.4 664.7792961686141%2c88 C 856.78%2c109.6 989.74%2c460.8 1144.779296168614%2c453 C 1299.82%2c445.2 1380.96%2c129.8 1440%2c49' stroke='rgba(0%2c 215%2c 255%2c 1)' stroke-width='2'%3e%3c/path%3e%3cpath d='M -810.0977439197347%2c102 C -714.1%2c138.4 -522.1%2c279.6 -330.0977439197348%2c284 C -138.1%2c288.4 -42.1%2c73.6 149.9022560802652%2c124 C 341.9%2c174.4 437.9%2c553.6 629.9022560802653%2c536 C 821.9%2c518.4 947.88%2c79 1109.9022560802653%2c36 C 1271.92%2c-7 1373.98%2c264 1440%2c321' stroke='rgba(30%2c 80%2c 131%2c 1)' stroke-width='2'%3e%3c/path%3e%3cpath d='M -296.00997041508003%2c517 C -200.01%2c420.2 -8.01%2c44.6 183.99002958491997%2c33 C 375.99%2c21.4 471.99%2c452 663.99002958492%2c459 C 855.99%2c466 951.99%2c75.6 1143.99002958492%2c68 C 1335.99%2c60.4 1564.79%2c384.6 1623.99002958492%2c421 C 1683.19%2c457.4 1476.8%2c284.2 1440%2c250' stroke='rgba(30%2c 80%2c 131%2c 1)' stroke-width='2'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1076'%3e%3crect width='1440' height='560' fill='white'%3e%3c/rect%3e%3c/mask%3e%3c/defs%3e%3c/svg%3e");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.react_player {
  position: absolute;
  top: 35%;
  left: 50%;
  transform: translate(-50%, -50%);
  /* height: 95% !important;
  width: 95% !important; */
  box-shadow: 0px 0px 8px 1px rgba(0, 0, 0, 0.4);
}

.feature_box {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 4rem;
  margin-top: 1rem;
  margin-bottom: 20rem;
}

.main_features {
  padding: 0 20rem;
}

.feature_item {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem 3rem;
  background-color: white;
  border-radius: 0.6rem;
  box-shadow: 0px 3px 4px 2px rgba(0, 0, 0, 0.4);

  transition: all 0.4s;
}

.feature_item:hover {
  transform: translateY(-10px);
}

.feature_icon img {
  transform: scale(0.9);
  max-width: 100%;
}

.feature_title {
  font-weight: 500;
  font-size: 2.6rem;
  margin-bottom: 1rem;
}

.feature_description {
  font-size: 1.8rem;
  line-height: 1.5;
}

.feature_description b {
  color: #025fa1;
}

/* Butterfly */
.butterfly_menu_box {
  display: grid;
  grid-template-columns: 4.5fr 5.5fr;
  gap: 6rem;
  justify-content: center;
  align-items: center;
  margin-bottom: 20rem;
}

.butterfly_menu_body {
  background: rgb(211, 248, 255);
  background: linear-gradient(
    180deg,
    rgba(211, 248, 255, 1) 0%,
    rgba(159, 227, 240, 1) 59%,
    rgba(104, 186, 247, 1) 90%,
    rgba(73, 172, 245, 1) 100%
  );
  padding: 4rem 8rem;
  border-radius: 0.6rem;
  box-shadow: 0px 3px 4px 2px rgba(0, 0, 0, 0.4);
}

.butterfly_menu_title {
  font-weight: 500;
  font-size: 4.8rem;
  margin-bottom: 2rem;
  line-height: 1;
}

.butterfly_menu_description {
  font-size: 2.4rem;
  line-height: 1.6;
}

.butterfly_menu_image {
  display: flex;
  justify-content: center;
}

.butterfly_menu_image img {
  max-width: 100%;
}

.background_box img {
  width: 100%;
}
