.footer {
  background-color: #1e3a8a;

  min-height: 20rem;
  padding-top: 5rem;
  text-align: Center;
  font-size: 3.6rem;
}

.footer a {
  display: inline-block;
  color: #fff;
  text-decoration: none;
}

.footer a:hover {
  color: rgb(199, 199, 199);
  text-decoration: none;
}
