footer {
  background-color: #023047;
  min-height: 10rem;
  width: 100%;
  z-index: 3;
}

.footer {
  display: grid;
  grid-template-columns: 2fr 1fr 1fr;
  padding: 4rem;
  color: #fff;
  font-size: 1.8rem;
  text-transform: uppercase;
}

.footer_left_portion {
  display: flex;
  gap: 1rem;
}

.footer_company_box {
  height: 3rem;
  width: 3rem;
}

.footer_left_portion img {
  max-width: 100%;
  border-radius: 50%;
  box-shadow: 0 0 0.4rem rgba(255, 255, 255);
}
