footer {
  background-color: #023047;
  min-height: 10rem;
  width: 100%;
  z-index: 3;
}

.footer {
  display: grid;
  grid-template-columns: 2fr 1fr 1fr;
  padding: 4rem;
  color: #fff;
  font-size: 1.8rem;
  text-transform: uppercase;
}

.footer_left_box {
  display: flex;
  gap: 1rem;
}

.footer_company_logo_box {
  height: 4rem;
  width: 4rem;
}

.footer_left_box img {
  max-width: 100%;
  border-radius: 50%;
}

.footer_company_title {
  font-size: 3.6rem;
}
