body {
  font-family: 'inter', sans-serif;
}

.headerSection {
  background-color: rgba(239, 246, 255, 0.8);
  width: 100%;
  max-height: 10rem;
  position: absolute;
  top: 0;
  z-index: 10;
}

.header {
  display: flex;
  justify-content: space-between;
  padding: 1rem 2rem;
}

.header_left {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.logo_div {
  height: 4.8rem;
  width: 4.8rem;
}

.logo {
  width: 100%;
  border-radius: 50%;
}

.header_left {
  transition: all 0.4s;
}

.header_left:link,
.header_left:visited {
  color: #000b49;
  text-decoration: none;
}

.header_left:hover {
  color: #9b0000;
}

.header_title {
  font-size: 3.6rem;
  font-weight: 700;
}

/* Main Navgiation */
.navbar {
  display: flex;
  align-items: center;
}

.navbar_list {
  display: flex;
  align-items: center;
  font-size: 1.6rem;
  font-weight: 600;
  text-transform: uppercase;
  gap: 2.2rem;
}

.navbar_list > div {
  display: inline-block;
}

.navbar_list a {
  text-decoration: none;
  color: #000;
  transition: all 0.4s;
}

.navbar_list > div > a:hover {
  color: #424141;
}

.menu {
  position: relative;
}

.dropdown_menu {
  display: none;
  background-color: #fff;
  position: absolute;

  top: 105%;
  padding: 1rem;
  font-size: 1.4rem;
  list-style: none;
  border-radius: 0.4rem;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.338);
}

/* Hover on product, set list to visible */
.menu:hover .dropdown_menu {
  display: block;
}

.dropdown_menu li {
  padding: 0.5rem;
  transition: all 0.4s;
}

.dropdown_menu li:hover {
  transform: translateX(1rem);
}

/* Specific menu */
.product_dropdown_menu {
  min-width: 22rem;
}

.escribano_dropdown_menu {
  min-width: 13rem;
}

.architect_dropdown_menu {
  min-width: 20rem;
}

.about_dropdown_menu {
  min-width: 14rem;
}
