body {
  font-family: 'abel', sans-serif;
}

.headerSection {
  /* background-color: rgba(239, 246, 255, 0.8); */

  color: #fff;
  width: 100%;
  max-height: 10rem;
  position: absolute;
  top: 0;
  z-index: 3;
}

/* .headerSection.fixed {
  background-color: rgba(239, 246, 255);
  transition: all 1s;
  position: fixed;
  top: 0;
  left: 0;
} */

/* .demoDropdown {
  height: 100vh;
  max-width: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: grid;
  grid-template-columns: 4fr 1fr;
  overflow: hidden;
} */

/* .navDrop {
  height: 100%;
  background-color: #fff;
} */

.header {
  display: flex;
  justify-content: space-between;
  padding: 2rem 3rem;
}

.header_left {
  display: flex;
  align-items: center;
  gap: 1rem;
  transition: all 0.4s;
}

.logo_div {
  height: 9rem;
  width: 9rem;
}

.logo {
  width: 100%;
  border-radius: 50%;
  box-shadow: -3px 5px 10px rgb(0, 0, 0, 0.4);
  transition: all 0.6s;
}

.logo:hover {
  transform: scale(1.1);
  box-shadow: -5px 7px 15px rgb(0, 0, 0, 0.4);
}

/* For Title */
/* .header_left:link,
.header_left:visited {
  color: #000;
  text-decoration: none;
  font-size: 3.8rem;
} */

/* .header.inHome .header_left:link,
.header.inHome .header_left:visited {
  color: #fff;
} */

/* Main Navgiation */
.dropdown {
  display: flex;
  align-items: center;
  position: relative;
}

.menu {
  display: flex;
  color: #000;
  font-size: 2.4rem;
  padding: 0.5rem;
  text-transform: uppercase;
  cursor: pointer;
  margin-right: 1rem;
  border: 1px solid #000;

  transition: all 0.6s;
}

.menu:hover {
  background-color: #034078;
  color: #fff;
}

.menu_active {
  opacity: 0;
}

/* .menu svg {
  font-size: 3rem;
} */

.header.inHome .menu {
  color: #fff;
  border: 1px solid #fff;
}

.header.inHome .menu:hover,
.header.inHome .menu_active {
  background-color: #fff;
  color: #000;
}

/* Dropdown body */
.dropdown_menu {
  /* position: absolute;
  top: 50%;
  right: 0; */

  display: flex;
  flex-direction: column;
  align-items: center;

  /* background-color: rgba(255, 255, 255, 0.4); */
  margin-top: 2rem;
  padding: 1rem;
  list-style: none;
  font-size: 3.2rem;
  line-height: 1.6;

  /* pointer-events: none; */
  /* transform: translateY(-3rem); */
  transition: all 0.6s;
  min-width: 20rem;

  /* opacity: 1; */
}

.dropdown_menu a:link,
.dropdown_menu a:visited {
  text-decoration: none;
  color: #000;
}

.dropdown_menu li {
  padding: 0 1rem;
}

/* .dropdown_menu li:hover {
  background-color: #fff;
  color: #000;
} */

/* .product_bar {
  position: relative;
}

.product_list {
  position: absolute;
  top: 50%;
  right: 0;
  min-width: 38rem;

  list-style: none;
  background-color: none;
} */

/* .menu.menu_active + .dropdown_menu {
  opacity: 1;
  transform: translateY(-0.2rem);
  pointer-events: auto;
} */

.offcanvas-backdrop.show {
  opacity: 0.7;
}

.offc {
  background-color: rgba(255, 255, 255, 0.7);
  backdrop-filter: blur(10px);
}

.offc_header {
  margin-bottom: 4rem;
}
.offcBody {
  display: flex;
  justify-content: center;
  padding: 0;
}

.nav_ {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.nav_ div {
  width: 100%;
  text-align: center;
}
.nav_ div:first-child {
  height: 5rem;
}

.nav_ > div a {
  font-size: 3.6rem;
  color: #000;
}

.nav > div:last-child {
  flex-grow: 1;
}

.dropdown-menu.show a {
  font-size: 2.2rem;
  display: inline-block;
}

.dropdown-toggle {
  width: 100%;
}

.products_list {
  justify-content: center;
}

.dropdown-menu.show {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.dropdown-menu {
  background-color: transparent;
  border: none;
  text-align: center;
}

.flex_ {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.translate_down {
  transform: translateY(21rem);
}

.closeIcon {
  position: absolute;
  display: flex;
  padding: 1rem;
  background-color: transparent;
  top: 0;
  right: 0;
  margin: 1rem 1rem 0 0;
}

.closeIcon svg {
  font-size: 2.6rem;
}

.closeIcon:hover {
  cursor: pointer;
}
