body {
  font-family: 'inter', sans-serif;
}

.headerSection {
  background-color: rgba(239, 246, 255, 1);
  width: 100%;
  max-height: 10rem;
  position: absolute;
  top: 0;
  z-index: 10;
}

.header {
  display: flex;
  justify-content: space-between;
  padding: 1rem 2rem;
}

.header_left {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.logo_div {
  height: 6.2rem;
  width: 6.2rem;
}

.logo {
  width: 100%;
  border-radius: 50%;
}

.header_left:link,
.header_left:visited {
  color: #1e3a8a;
  text-decoration: none;
}

.header_left:hover {
  color: #1e40af;
  text-decoration: none;
}

.header_title {
  font-size: 4.2rem;
  font-weight: 700;
}

.navbar {
  display: flex;
  align-items: center;
}

.main_list {
  display: flex;
  list-style: none;
  font-size: 1.8rem;
  font-weight: 500;
  gap: 3rem;
}

.navbar a {
  text-decoration: none;
  color: #000;
}

.main_list li {
  text-transform: uppercase;
}
/* .navbar ul li {
  border-bottom: 2px solid transparent;
}

.navbar ul li:hover {
  cursor: pointer;
  border-bottom: 2px solid #fff;
} */

.product {
  position: relative;
}

.product_list {
  display: none;
  position: absolute;
  min-width: 25rem;

  top: 100%;
  padding: 1rem;
  font-size: 1.4rem;
  list-style: none;
  border-bottom-left-radius: 2px;
  border-bottom-right-radius: 2px;
}

/* Hover on product, set list to visible */
.product:hover .product_list {
  background-color: rgba(239, 246, 255);
  display: block;
}

.product_list li {
  padding: 0.5rem;
}

.product_list li:hover {
  background-color: #fff;
}
