.dc_detail_box {
  display: grid;
  grid-template-columns: 2fr 3fr;
  gap: 8rem;
}

.dc_detail > div {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.dc_detail_title {
  text-align: center;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 2.6rem;
  margin-bottom: 2rem;
}

.dc_detail_box > div img {
  max-width: 100;
}
