.libraries_list_section {
  padding: 13rem 15rem 5rem;
  min-height: 90vh;
  font-family: 'Montserrat', sans-serif;
  background: linear-gradient(
    170deg,
    rgba(247, 241, 241, 1) 0%,
    rgba(208, 240, 241, 1) 75%,
    rgba(208, 247, 255, 1) 100%
  );
}

.libraries_title {
  text-align: center;
  font-size: 7.6rem;
  font-weight: 500;
  color: #1282a2;
}

.libraries_list_box {
  display: flex;
  justify-content: center;
  padding-top: 1rem;
}

.libraries_list {
  display: inline-block;

  background-color: rgba(255, 255, 255, 0.9);
  box-shadow: 0 0 4px 2px rgba(0, 0, 0, 0.4);
  border-radius: 0.4rem;
  list-style: none;
  margin: 0;
  padding: 3rem 5rem;
  text-align: center;
}

.libraries_list li {
  font-size: 1.8rem;
  line-height: 1.8;
}

.libraries_list li a {
  transition: all 0.2s;
}

.libraries_list li a:link,
.libraries_list li a:visited {
  text-decoration: none;
  color: black;
}

.libraries_list li a:hover {
  color: rgb(25, 125, 155);
}
