.markerboard_box {
  width: 100%;
  display: grid;
  grid-template-columns: 3fr 2fr;
  gap: 2rem;
  /* border-radius: 0.6rem; */
  /* overflow: hidden; */
  /* box-shadow: 0 0 0.6rem rgba(0, 0, 0, 0.4); */
}

.markerboard_image_box {
  height: 100%;
  width: 100%;
}

.markerboard_image_box img {
  min-width: 100%;
  border-radius: 0.6rem;
}

.markerboard_carousel {
  height: 100%;
  min-width: 100%;
  transform: scale(1);
  opacity: 1;
}

.markerboard_body_box {
  /* background-image: linear-gradient(
    to bottom,
    #d2d4d7,
    #ccced1,
    #c6c8cb,
    #c0c3c5,
    #babdbf
  ); */

  display: flex;
  flex-direction: column;
  padding: 4rem;
  border-radius: 0.6rem;
  box-shadow: 0 0 0.6rem rgba(0, 0, 0, 0.4);
}

.markerboard_body_title {
  /* background-image: linear-gradient(
    to bottom,
    #d2d4d7,
    #ccced1,
    #c6c8cb,
    #c0c3c5,
    #babdbf
  ); */

  color: #1282a2;
  font-size: 3.6rem;
  font-weight: 600;
  margin-bottom: 2rem;
  text-transform: uppercase;
}

.markerboard_body_description {
  font-size: 2rem;
  line-height: 1.2;
}

.markerboard_body_description li {
  margin-top: 1rem;
}
