.joints_box {
  margin-bottom: 10rem;
}

.customize_joints_title {
  text-align: center;
  font-weight: 600;
  font-size: 2.6rem;
  text-transform: uppercase;
}

.customize_joints_options_box {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 6rem;
  padding: 2rem 6rem;
}

.customize_joints_image {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.customize_joints_image img {
  max-width: 100%;
}

.customize_joints_image > div {
  text-align: center;
  text-transform: uppercase;
  font-size: 1.6rem;
  font-weight: 500;
  color: rgb(76, 76, 76);
}
