/* .magnifier-image:hover {
  transform: scale(1);
} */

.hero-modal-width {
  max-width: 950px;
}

/* .hero-modal-height {
  height: 90vh;
} */

.modal-body {
  overflow: hidden;
}

.magnifier {
  max-height: 100%;
}

.magnifier-image {
  width: 100% !important;
}

/* .magnifier {
  display: flex;
  justify-content: center;
} */

/* .hero-modal img {
  max-width: 80vw;
}

.hero-modal .modal-content {
  height: 90vh;
}
*/

.btn_available_box {
  margin-top: 6rem;
  display: flex;
  justify-content: flex-end;
}

.btn_available {
  background-color: #cdd9e4;
  text-align: center;
  padding: 1rem 2rem;
  font-size: 2.8rem;
  box-shadow: 0 0 0.8rem rgba(0, 0, 0.4);
  border-radius: 0.4rem;

  transition: all 0.4s;
}

.btn_available:hover {
  background-color: #426b92;
  color: white;
  cursor: pointer;
}

.btn_available:active {
  background-color: #1c5386;
  box-shadow: 0 0 0.4rem rgba(0, 0, 0.8);
}
