/* .magnifier-image:hover {
  transform: scale(1);
} */

/* .hero-modal-width {
  height: 90vh;
  width: 80vw;
  max-width: 80vw;
}

.hero-modal-height {
  height: 80vh;
} */

/* .hero-modal img {
  max-width: 80vw;
}

.hero-modal .modal-content {
  height: 90vh;
}
*/
