/* .magnifier-image:hover {
  transform: scale(1);
} */

.hero-modal-width {
  max-width: 950px;
}

/* .hero-modal-height {
  height: 90vh;
} */

.modal-body {
  overflow: hidden;
}

.magnifier {
  max-height: 100%;
}

.magnifier-image {
  width: 100% !important;
}

/* .magnifier {
  display: flex;
  justify-content: center;
} */

/* .hero-modal img {
  max-width: 80vw;
}

.hero-modal .modal-content {
  height: 90vh;
}
*/
