.customize_box {
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 2rem;
  margin-bottom: 10rem;
}

.customize_options_title {
  text-align: center;
  font-weight: 600;
  font-size: 2.2rem;
  text-transform: uppercase;
}

.customize_images {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
  padding: 2rem;
}

.customize_images img {
  max-width: 100%;
}

.customize_images > div div {
  text-align: center;
  text-transform: uppercase;
  font-size: 1.6rem;
  font-weight: 500;
  color: rgb(76, 76, 76);
}
