.slider {
  padding: 10rem 0;
  position: relative;
  font-family: 'Montserrat', sans-serif;
}

.slider_title {
  font-size: 7.6rem;
  font-weight: 500;
  text-align: center;
  margin: 4rem 0;
}

.slide {
  min-width: 42rem;
}

.slide img {
  max-width: 100%;
  border-radius: 0.4rem;
}

.slide {
  transform: scale(0.7);
  transition: transform 400ms;
  opacity: 0.7;
}

.activeSlide {
  transform: scale(1);
  opacity: 1;
}

.activeSlide img {
  transform: scale(1);
  opacity: 1;
}

.slide_title_box {
  width: 100%;
  text-align: center;
}

.slide_title {
  display: inline-block;
  margin-top: 2rem;
  justify-content: center;
  border: 1px solid black;
  padding: 1rem 2rem;
  font-size: 2rem;
  text-transform: uppercase;
}

.arrow {
  background-color: rgba(255, 255, 255, 0.5);
  padding: 0 1rem;
  margin: 0 1rem;
  position: absolute;
  cursor: pointer;
  z-index: 10;
}

.arrow svg {
  transform: color 300ms;
  font-size: 3rem;
}

.arrow svg:hover {
  color: #68edff;
}

.next {
  right: 0%;
  top: 50%;
}

.prev {
  left: 0%;
  top: 50%;
}

@media (max-width: 113.75em) {
  .slide img {
    width: 40rem;
  }
  .slide_title_box {
    max-width: 40rem;
  }
}

@media (max-width: 110.5em) {
  .slide img {
    width: 38rem;
  }
  .slide_title_box {
    max-width: 38rem;
  }
}

@media (max-width: 105.63em) {
  .slide img {
    width: 36rem;
  }
  .slide_title_box {
    max-width: 36rem;
  }
}

@media (max-width: 105.63em) {
  .slide img {
    width: 36rem;
  }
  .slide_title_box {
    max-width: 36rem;
  }
}

@media screen and (max-width: 102.5em) {
  .slide img {
    width: 34rem;
  }
  .slide_title_box {
    max-width: 34rem;
  }
}

/* 1580px */
@media (max-width: 98.75em) {
  .slide img {
    width: 32rem;
  }
  .slide_title_box {
    max-width: 32rem;
  }
}
