.slider {
  padding: 10rem 0;
  position: relative;
  font-family: 'Montserrat', sans-serif;
}

.slider_title {
  font-size: 7.6rem;
  font-weight: 500;
  text-align: center;
  margin: 4rem 0;
}

.slide img {
  width: 42rem;
  margin: 0 auto;
}

.slide {
  transform: scale(0.5);
  transition: transform 400ms;
  opacity: 0.5;
}

.activeSlide {
  transform: scale(1);
  opacity: 1;
}

.activeSlide img {
  transform: scale(1);
  opacity: 1;
}

.arrow {
  background-color: none;
  padding: 0;
  position: absolute;
  cursor: pointer;
  z-index: 10;
}

.arrow svg {
  transform: color 300ms;
}

.arrow svg:hover {
  color: #68edff;
}

.next {
  right: 0%;
  top: 50%;
}

.prev {
  left: 0%;
  top: 50%;
}

.item {
  padding-right: 1rem;
}
