.contact_card {
  background-color: #fff;
  padding: 2rem 3rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.4rem;
  box-shadow: 0px 0px 4px 1px rgba(0, 0, 0, 0.4);
  border-radius: 0.4rem;
}

.cards_name {
  font-size: 3.2rem;
  font-weight: 700;
}

.cards_title {
  font-size: 2rem;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
  color: #21bff3;
  line-height: 1.2;
}

.cards_email {
  transition: all 0.2s;
}

.cards_email,
.cards_extension {
  font-size: 1.8rem;
  font-weight: 500;
}

.cards_email:link,
.cards_email:visited {
  text-decoration: none;
  color: #000;
}

.cards_email:hover,
.cards_email:active {
  color: #ff731d;
}

.cards_extension {
  font-size: 1.6rem;
}
