.architects_corner {
  padding: 13rem 0 20rem;
  min-height: 100vh;
  font-family: 'Montserrat', sans-serif;

  /* background: rgb(247, 241, 241);
  background: linear-gradient(
    171deg,
    rgba(247, 241, 241, 1) 0%,
    rgba(208, 240, 241, 1) 74%,
    rgba(208, 247, 255, 1) 100%
  ); */

  background-image: url('../../assets/images/lines.png');
  background-position: top;
  background-size: cover;
  background-repeat: no-repeat;
}

.architects_title {
  text-align: center;
  font-size: 7.6rem;
  font-weight: 500;
  color: #1282a2;
}

.ac_grid {
  display: grid;
  gap: 5rem;
  justify-items: center;
  grid-template-columns: 1fr 1fr;
  padding: 5rem 20rem;
}

.ac_grid > div {
  display: flex;
  flex-direction: column;
  align-items: center;

  padding: 3rem 5rem;
  background-color: rgba(255, 255, 255, 0.9);
  box-shadow: 0 0 4px 2px rgba(0, 0, 0, 0.4);
  border-radius: 0.4rem;
}

.ac_grid > div:first-child {
  justify-self: end;
}

.ac_grid > div:last-child {
  justify-self: start;
}

.ac_title {
  font-size: 2.6rem;
  font-weight: 600;
  text-transform: uppercase;
  color: #1282a2;
  margin-bottom: 2rem;
}

.library_list {
  list-style: none;
  margin: 0;
  padding: 0;
  text-align: center;
}

.library_list li {
  font-size: 1.8rem;
}

.library_list li a {
  transition: all 0.2s;
}

.library_list li a:link,
.library_list li a:visited {
  text-decoration: none;
  color: black;
}

.library_list li a:hover {
  color: rgb(25, 125, 155);
}
