.contact_page {
  padding-bottom: 13rem;
  /* background: linear-gradient(
    170deg,
    rgba(247, 241, 241, 1) 0%,
    rgba(208, 240, 241, 1) 75%,
    rgba(208, 247, 255, 1) 100%
  ); */
  background: rgb(42, 84, 112);
  background: linear-gradient(
    180deg,
    rgba(42, 84, 112, 1) 0%,
    rgba(13, 43, 91, 1) 41%,
    rgb(11, 94, 110) 100%
  );
}

.contact_hero {
  position: relative;
  height: 105vh;
  margin-bottom: 10rem;
  background-image: url('../../assets/images/contactus_hero_image.png');
  background-position: top;
  background-size: cover;
  background-repeat: no-repeat;
}

.contact_body {
  position: absolute;
  top: 30%;
  left: 15%;

  display: flex;
  flex-direction: column;
  color: #fff;
}

.contact_header {
  font-weight: 700;
  font-size: 7.2rem;
}

.contact_subheader {
  font-weight: 500;
}

.contact_subheader,
.contact_address_box {
  font-size: 2.8rem;
}

.contact_address_box {
  margin-top: 6rem;
}

.contact_info {
  color: rgb(113, 255, 238);
  font-size: 3.2rem;
  font-weight: 600;
}
